html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}
.logo{
    height: 100px;
    width: 100px;
    left: 10px;
}

.navlist{
    display: flex;
    position: relative;
}

.navlist a{
    color: #61677A;
    margin-left: 50px;
    font-size: large;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .25s ease;
}

.navlist a:hover{
    border-bottom: 2px solid #272829;
}

#menu-icon{
    font-size: 38px;
    color: #606C5D;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.landing{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    background-color: #FFF6E0;
    align-items: center;
    justify-content: center;
}
.landing img{
    height: 135px;
    width: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-5px;
    text-align: center;  
    position: inherit;
}
.landing h1{
    color: #61677A;
    text-transform: uppercase;
    font-size: 85px;
    letter-spacing: 5px;
    font-weight: 500px;
    text-align: center;
}
.landing h2{
    color: #272829;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 500px;
    text-align: center;
}
.landing a{
    color:#F7E6C4;
    border: 2px solid #272829;
    background: #272829;
    display: inline-block;
    padding: 12px 15px;
    border-radius: 5px;
    transition: transform 1000ms;
}
.landing-links{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landing a:hover{
    transform: translateY(-.50em);
    transition: transform 250ms;
    color: #272829;
    background-color: #F7E6C4;
}
/* .About{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #606C5D;
}
.About h2{
    color: #F7E6C4;
    font-size: 85px;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: 500px;
    text-align: center;
    justify-content: center;
}
.About h5{
    color: #FFF4F4;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
    justify-content: center;
}
.About p{
    color: #c6a060;
    text-align: center;
    font-weight: 600;
}
.About img{
    height: 30%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.about-image{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.about-image.active{
    transform: translateY(0);
    opacity: 1;
}
.Cyber-Security-Services{
    height: 70%;
    width: 100%;
    min-height: 70vh;
    position: relative;
    background-color: #FFF4F4;
}
.Cyber-Security-Services .security-services h2{
    color: #606C5D;
    font-size: 80px;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: 500px;
    text-align: center;
    justify-content: center;
}
.Training{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #606C5D;
}
.Training .training-sessions h2{
    color: #FFF4F4;
    font-size: 80px;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: 500px;
    text-align: center;
    justify-content: center;
}
.wrapper{
    max-width: 1200px;
    padding: 0 35px;
    justify-content: center;
    left: auto;
    right: auto;
    position: relative;
}
.wrapper i{
    background: #c6a060;
    color: #FFF4F4;
    height: 46px;
    top: 50%;
    transform: translateY(-50%);
    width: 46px;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
}
.wrapper i:first-child{
    left: 10px;   
    display: none;
}
.wrapper i:last-child{
    right: 10px;   
}
.carousel{
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    font-size: 0px;
    scroll-behavior: smooth;
}
.carousel .dragging{
    scroll-behavior: auto;
    cursor: grab;
}
.carousel .dragging img{
    pointer-events: none;
}
.carousel img{
    border-radius: 8%;
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100%/3);
}
.carousel img:first-child{
    margin-left: 25px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100%/2);
    }
}
@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%;
    }
} */