html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}
.logo{
    height: 100px;
    width: 100px;
    left: 10px;
}

.navlist{
    display: flex;
    position: relative;
}

.navlist a{
    color: #61677A;
    margin-left: 50px;
    font-size: large;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .25s ease;
}

.navlist a:hover{
    border-bottom: 2px solid #272829;
}

#menu-icon{
    font-size: 38px;
    color: #606C5D;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.landing{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    background-color: #FFF6E0;
    align-items: center;
    justify-content: center;
}
.landing img{
    height: 135px;
    width: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-5px;
    text-align: center;  
    position: inherit;
}
.landing h1{
    color: #61677A;
    text-transform: uppercase;
    font-size: 85px;
    letter-spacing: 5px;
    font-weight: 500px;
    text-align: center;
}
.landing h2{
    color: #272829;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 500px;
    text-align: center;
}
.landing a{
    color:#F7E6C4;
    border: 2px solid #272829;
    background: #272829;
    display: inline-block;
    padding: 12px 15px;
    border-radius: 5px;
    transition: transform 1000ms;
}
.landing-links{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.landing a:hover{
    transform: translateY(-.25em);
    transition: transform 250ms;
    color: #272829;
    background-color: #F7E6C4;
}